/* Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Layout */

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-6{
    width: calc(6 * 100% / 12);
}

/* Style */


/* HEADER */
.page__header {
    background-color: #FF6900;
    color: white;
    padding: 32px;
    margin-bottom: 40px;
}

/* CONTENT */

.card {
    padding: 4px;
}

.card__header > img {
    display: block;
}



/* Debug */

.debug .container {
    border: 1px solid black;
}

.debug [class^="col"] {
    border: 1px solid blue;
}